<h1>Movie Rental Homepage</h1>

<% if logged_in? %>
  <p>Check out your rentals or see all of the movies by selecting an option from the navigation bar above.</p>
<% else %>
  <p>Please log in or sign up by selecting one of the options from the navigation bar above.</p>
<% end %>
