<h1>Movie Rental Homepage</h1>

<% if logged_in? %>
  <p>Take a look at the available movies, check out your profile page, or view your rentals by selecting an option from the navigation bar above.</p>
<% else %>
  <p>Please log in or sign up by selecting one of the options from the navigation bar above.</p>
<% end %>
